// main: ../style.less

.banner {
  border-bottom: 10px solid @color-main;
  padding-bottom: 30px;
}

.banner__slider {
  height: 370px;
  background: @bg-color-secondary url(../img/banner.jpg) no-repeat 50% 0;
  color: white;
}

.banner__item {
  padding: 40px 70px;
}
