// main: ../style.less

.clients {
  padding-bottom: 90px;
  background-color: @bg-color-secondary;
}

.clients__title {
  margin-bottom: 80px;
}

.clients__list {

}

.clients__item {
  text-align: center;
}
