// main: ../style.less

.page-header {
  border-bottom: none;
  padding-top: 50px;
  padding-bottom: 60px;
  margin-top: 0;
  margin-bottom: 0;
}

.page-header__logo {
  display: block;
  margin-top: 12px;
}

.page-header__contacts {
  text-align: right;
}

.page-header__phone {
  display: inline-block;
  vertical-align: top;
  font-size: 33px;
  line-height: 28px;
  margin-right: 7px;
  font-weight: 600;
}

.page-header__social {
  display: inline-block;
  vertical-align: top;
}

.page-header__nav {
  margin-top: 40px;
}
