.page-footer {
  padding-top: 45px;
  padding-bottom: 35px;
  background-color: @color-main;
  color: white;
  //font-size: 18px;

  a {
    color: @color-primary;
  }
}

.page-footer__phone {
  font-size: 24px;
  margin-bottom: 20px;
}

.page-footer__design {
  text-align: right;
}
