// main: ../style.less

.price {
  padding-top: 60px;
  padding-bottom: 0;

  .section-title {
    margin-bottom: 10px;
  }
}

.price__table {
  border-collapse: separate;
  border-spacing: 0 15px;

  th,
  td {
    text-align: center;
    width: 33.33%;
  }

  th {
    border-top: none !important;
    border-bottom: 1px solid @color-main;
    font-size: 24px;
    font-weight: normal;
  }

  td {
    border: none !important;
    font-size: 20px;
  }

  tr:nth-child(2n) {
    background-color: @bg-color-secondary;
  }

  tr:nth-child(2n+1) {

    td {
      padding-top: 2px !important;
      padding-bottom: 2px !important;
    }
  }
}
