// main: ../style.less

.reviews {

}

.reviews__title {
  margin-bottom: 70px;
}

.reviews__author {
  height: 180px;
}

.reviews__author-photo {
  width: 155px;
  height: 155px;
  border-radius: 50%;
  border: 2px solid @color-main;
  background-color: @color-main-light;
  overflow: hidden;
  margin-right: 25px;
  float: left;
}

.reviews__author-info {
  padding-top: 40px;
}
